<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyCook.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0FB6A0AE2777C69F004F10AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB6A0C42777C6A1004F10AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FB6A0CE2777C6A1004F10AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
